.s3direct .link-controls,
.s3direct .progress-controls {
    display: none;
}

.s3direct .progress {
    margin-bottom: 5px;
}

.s3direct .info {
    display: block;
    text-align: center;
    position: absolute;
    width: 100%;
}